/*======================
 ui-winter 
======================*/


/* font type */

@font-face {
    font-family: 'proxima_nova_alt_bold';
    src: url('fonts/mark_simonson_-_proxima_nova_alt_bold-webfont.eot');
    src: url('fonts/mark_simonson_-_proxima_nova_alt_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mark_simonson_-_proxima_nova_alt_bold-webfont.woff') format('woff'),
         url('fonts/mark_simonson_-_proxima_nova_alt_bold-webfont.ttf') format('truetype'),
         url('fonts/mark_simonson_-_proxima_nova_alt_bold-webfont.svg#proxima_nova_alt_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body{
	 font-family: 'proxima_nova_alt_bold', 'arial', sans-serif;
}

/* basic styles */
.inbox{
	box-sizing: border-box;
}
.to-left{ float: left }
.to-right{ float: right }
.inline{
    display: inline-block;
    *display: inline;
    vertical-align: top;
    zoom: 1; 
}
.clear{
	content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.clearfix:after{ @extend .clear; }

/* color */
$black: #222426;
$black-darken: #1c1c1c;
$blue: #434445;

.blue-gradient{
	background: #4e94eb;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRlOTRlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzRlOTRlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNkODRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZDg0ZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #4e94eb 0%, #4e94eb 50%, #3d84dd 50%, #3d84dd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e94eb), color-stop(50%,#4e94eb), color-stop(50%,#3d84dd), color-stop(100%,#3d84dd));
	background: -webkit-linear-gradient(top, #4e94eb 0%,#4e94eb 50%,#3d84dd 50%,#3d84dd 100%);
	background: -o-linear-gradient(top, #4e94eb 0%,#4e94eb 50%,#3d84dd 50%,#3d84dd 100%);
	background: -ms-linear-gradient(top, #4e94eb 0%,#4e94eb 50%,#3d84dd 50%,#3d84dd 100%);
	background: linear-gradient(to bottom, #4e94eb 0%,#4e94eb 50%,#3d84dd 50%,#3d84dd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e94eb', endColorstr='#3d84dd',GradientType=0 );
}

.black-gradient{
	background: #111111;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRlOTRlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzRlOTRlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNkODRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZDg0ZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #434445 0%, #434445 50%, #111111 50%, #111111 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#434445), color-stop(50%,#434445), color-stop(50%,#111111), color-stop(100%,#111111));
	background: -webkit-linear-gradient(top, #434445 0%,#434445 50%,#111111 50%,#111111 100%);
	background: -o-linear-gradient(top, #434445 0%,#434445 50%,#111111 50%,#111111 100%);
	background: -ms-linear-gradient(top, #434445 0%,#434445 50%,#111111 50%,#111111 100%);
	background: linear-gradient(to bottom, #434445 0%,#434445 50%,#111111 50%,#111111 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434445', endColorstr='#111111',GradientType=0 );
}

.gray-gradient{
	background: #b4c2d4;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRlOTRlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzRlOTRlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzNkODRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZDg0ZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #cad4e1 0%, #cad4e1 50%, #b4c2d4 50%, #b4c2d4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cad4e1), color-stop(50%,#cad4e1), color-stop(50%,#b4c2d4), color-stop(100%,#b4c2d4));
	background: -webkit-linear-gradient(top, #cad4e1 0%,#cad4e1 50%,#b4c2d4 50%,#b4c2d4 100%);
	background: -o-linear-gradient(top, #cad4e1 0%,#cad4e1 50%,#b4c2d4 50%,#b4c2d4 100%);
	background: -ms-linear-gradient(top, #cad4e1 0%,#cad4e1 50%,#b4c2d4 50%,#b4c2d4 100%);
	background: linear-gradient(to bottom, #cad4e1 0%,#cad4e1 50%,#b4c2d4 50%,#b4c2d4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cad4e1', endColorstr='#b4c2d4',GradientType=0 );
}

/* forms */

.btn{
	@extend .inbox;
	@extend .inline;
	cursor: pointer;
	outline: none;
	min-height: 60px;
	border-radius: 3px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	width: 100%;
	border: none;
	font-weight: 600;

	&:hover{
		opacity: .8;
	}

	&.blue{
		@extend .blue-gradient;
	}

	&.black{
		@extend .black-gradient;
	}

	&.gray{
		@extend .gray-gradient;
	}

}

form{

	input[type='text'],
	input[type='password'],
	select{
		font-family: 'proxima_nova_alt_bold', 'arial', sans-serif;
		font-weight: 400;
		width: 100%;
		@extend .inbox;
		@extend .inline;
		height: 60px;
		padding: 0 30px;
		font-size: 18px;
		color: #000;
		background: #fff;
		border: none;
		outline: none;
		border-radius: 3px;
	}
}

/* icons */
i, .ico{
	@extend .inbox;
	@extend .inline;
	font-size: 0;
	text-indent: -9999px;
}

.ico-setting{
	background: url(img/ui-icon-setting.png) no-repeat center;
	width: 32px;
	height: 32px;
}

.ico-rain{
	background: url(img/ui-icon-weather-rain.png) no-repeat center;
	width: 69px;
	height: 57px;
}

.ico-sun-up{
	background: url(img/ui-icon-weather-sun-up.png) no-repeat center;
	width: 52px;
	height: 36px;
}

.ico-sun-down{
	background: url(img/ui-icon-weather-sun-down.png) no-repeat center;
	width: 52px;
	height: 38px;
}

.ico-search{
	background: url(img/ui-icon-search.png) no-repeat center;
	width: 100%;
	height: 50px;
}

/* ui-boxes */

.ui-box{
	box-shadow: 0 0 18px rgba(0,0,0,.2);

	.header{
		background: $black;
		height: 50px;
		position: relative;
		border-radius: 3px;

		h2{
			line-height: 50px;
			text-align: center;
			font-size: 18px;
			color: #f1f1f3;
		}

		.toggled{
			width: 50px;
			height: 50px;
			background: $black-darken url(img/ui-icon-collapse-open.png) no-repeat center;
			font-size: 0;
			position: absolute;
			top: 0;
			right: 0;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;

			&:hover{
				opacity: .7;
			}
		}
	}

	.content{
		display: none;
		background: rgba(255,255,255,.7);
		@extend .inbox;
		padding: 35px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	&.active{

		.toggled{
			background: $black-darken url(img/ui-icon-collapse-close.png) no-repeat center;
		}

		.content{
			display: block;
		}

		.header{
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
}

/* ui-navigation */
.ui-navigation{
	@extend .inbox;
	background: $black;
	padding: 29px 50px;
	border-radius: 3px;

	a{
		@extend .inline;
		font-size: 22px;
		line-height: 32px;
		color: #81878f;
		margin-right: 80px;
		text-decoration: none;

		&:last-child{
			margin-right: 0;
		}

		&:hover,
		&.active{
			color: #eaeaea;
		}
	}
}

/* ui progress bar */

.ui-progress-bar{
	margin: 20px 0;
	height: 40px;
	border-radius: 3px;
	position: relative;
	overflow: hidden;

	.inner{
		height: 40px;
		position: absolute;
		top: 0;
		left: 0;
		width: 71%;
	}

	p{
		display: block;
		line-height: 40px;
		width: 100%;
		text-align: center;
		color: #fff;
		position: absolute;
		top: 0;
		left: 0;
	}

	&.blue{
		background: #111111;

		.inner{
			@extend .blue-gradient;
		}
	}

	&.black{
		background: #b4c2d4;

		.inner{
			@extend .black-gradient;
		}
	}
}



/* ui-weather */
@-webkit-keyframes myfirst {
	0%   {background-position: top left;}
    50%  {background-position: top right;}
    100%   {background-position: top left;}
}

@keyframes myfirst {
	0%   {background-position: top left;}
    50%  {background-position: top right;}
    100%   {background-position: top left;}
}


.ui-box .ui-weather{
	height: 465px;
	background: url(img/weather.jpg) no-repeat;
	background-position: top left;
	position: relative;
	overflow: hidden;
    animation: myfirst linear 50s infinite;

	.temperature{
		text-align: right;

		p{
			font-size: 70px;
			line-height: 70px;
			color: #262727;
			letter-spacing: 5px;
		}

		sup{
			font-size: 22px;
			line-height: 22px;
			position: relative;
			top: -36px;

			sub{
				font-size: 34px;
				line-height: 34px;
				position: relative;
				top: 12px;
			}
		}
	}

	.bottom{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}

	.place{
		background: rgba(0,0,0,.8);
		width: 100%;
		padding: 25px 0;

		p{
			text-align: center;
			font-size: 24px;
			line-height: 30px;
			color: #d5dde7;

			span{
				font-size: 36px;
				color: #4e94eb;
				line-height: 46px;
				display: block;
			}
		}
	}

	.row{
		margin-bottom: 0;
	}

	.icons-sun{
		padding: 0 30px;
	}

	.text-sun{

		padding: 0 40px;

		p{
			color: #fff;
			font-size: 16px;
			line-height: 25px;	
		}
	}

	.left{
		text-align: left;
	}

	.right{
		text-align: right;
	}
}


/* ui-profile-card */
.ui-profile-card{

	.inline{
		vertical-align: middle;
	}

	img{
		width: 130px;
		height: 130px;
		border-radius: 3px;
		margin-right: 50px;
	}

	p{
		font-size: 24px;
		color: #323439;
		line-height: 30px;

		span{
			display: block;
			font-size: 16px;
			color: #7a8599;
			line-height: 25px;
			text-transform: uppercase;
		}
	}
}


/* ui-subscribe-form */
.ui-subscribe-form{

	input[type='text']{
		background: #252627!important;
		color: #fff!important;
	}
}



/* ui-search-form */
.ui-search-form{
	font-size: 0;

	form{
		font-size: 0;
	}

	input[type='text']{
		background: #252627!important;
		color: #fff!important;
		width: 85%;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.btn{
		width: 15%;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}


/* check boxes */

input[type="checkbox"],
input[type="radio"]{
	display: none;
}

label{
	line-height: 42px;
	display: block;
	position: relative;
	padding-left: 55px;

}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
    height: 42px;
    width: 42px;
    margin: 0 10px 0 0;
}

input[type="checkbox"].blue + label::before{
    background: url(img/ui-checkbox-blue.png) no-repeat;
}

input[type="checkbox"].blue:checked + label::before {
    background: url(img/ui-checkbox-blue-selected.png) no-repeat;
}

input[type="checkbox"].black + label::before{
    background: url(img/ui-checkbox-black.png) no-repeat;
}

input[type="checkbox"].black:checked + label::before {
    background: url(img/ui-checkbox-black-selected.png) no-repeat;
}

input[type="radio"].blue + label::before{
    background: url(img/ui-radio-blue.png) no-repeat;
}

input[type="radio"].blue:checked + label::before {
    background: url(img/ui-radio-blue-select.png) no-repeat;
}

input[type="radio"].black + label::before{
    background: url(img/ui-radio-black.png) no-repeat;
}

input[type="radio"].black:checked + label::before {
    background: url(img/ui-radio-black-select.png) no-repeat;
}


/* ui-login-form */
.ui-login-form{

	input{
		text-align: center;
	}

	input[type='text']{
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	input[type='password']{
		border-radius: 0;
	}

	.btn{
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}